.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

#heroic-character { font-size: 200px }

#heroic-prompt-english {
  font-size: 60px
}

#heroic-answer,
#heroic-prompt-korean {
  font-size: 100px
}

#preface { font-style: italic }
