.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

#heroic-character { font-size: 200px }

#heroic-hanzi { font-size: 170px }

#heroic-prompt-english {
  font-size: 60px
}

#heroic-answer,
#heroic-prompt-korean {
  font-size: 100px
}

#preface { font-style: italic }

.annotated-hanzi {
  display: inline-block
}

.annotated-hanzi .hanzi {
  font-size: 170px
}

.annotated-hanzi .pinyin {
  text-align: center;
  font-size: 50px
}

#japanese-heroic-character {
  font-size: 280px
}

#japanese-kana-pair {
  font-size: 140px
}

#japanese-romaji-answer {
  font-size: 80px;
  padding: 0;
  margin: 0
}

.hiragana {
  background-color: #FDC7C9
}

.katakana {
  background-color: #C5E4EA
}

.kanji {
  background-color: #FEE8BD
}